<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--General Settings-->
    <add key="IsDebugMode" value="false"/>
    
    <!--Telegrem Bot Settings-->
    <add key="IsTelegramEnabled" value="false"/>
    <add key="telegramApi" value=""/>
    <add key="channelId" value=""/>
    <add key="telegramApiUrl" value="https://api.telegram.org/bot{0}/sendMessage?chat_id={1}&amp;text={2}" />
    
    <!--Mqtt Settings-->
    <add key="IsMqttEnabled" value="false"/>
    <add key="MqttHost" value=""/>
    <add key="MqttUser" value=""/>
    <add key ="MqttPass" value=""/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
